@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,600,400,300|Open+Sans+Condensed:300,700|Lato:100,300,400);

/* General
========================================================================== */

h1, h2, h3,
h4, h5, h6,
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 170%;
}

body {
    background-image: url(../img/codedaybg.png);
}

.container .row.nopad {
    margin: 0;
}

.container .row.nopad > [class*="span"],
.container .row.nopad > [class*="span"]:first-child [class*="span"] {
    margin-left: 0;
}

a {
    border-bottom: 1px dotted #fff;
}

a:hover {
    border-bottom: 1px dashed #fff;
    text-decoration: none;
}

.btn, .btn:hover {
    border-bottom: none !important;
}

div input:not([type="checkbox"]),
div textarea
{
    min-width: 50%;
}

div textarea {
    min-height: 7em;
}

/* Widgets
========================================================================== */

.clearfix {
    visibility: hidden;
    clear: both;
}

.circle,
.circle-thumb {
    border: 4px solid white;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 0;
    width: 180px;
    height: 180px;
}

.circle-thumb {
    width: 100px;
    height: 100px;
}

.person {
    width: 100%;
    clear: both;
    display: block;
    margin-bottom: 80px;
}

.person:last-child {
    margin-bottom: 0;
}

.person .circle-thumb {
    float: left;
    margin-top: -30px;
}

.person a,
.person span {
    display: block;
    margin-left: 120px;
}

.person span {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.person a,
.person a:hover {
    color: #333;
    font-size: 35px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.1);
    margin-top: 30px;
    margin-bottom: 5px;
    border-bottom: none;
}

.box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

.box li,
.box > * {
    margin-left: 20px;
}

.box > img {
    margin-left: 0;
}

.container > hr,
.container > .row > hr {
    background: url(../img/hr.png) repeat-x top;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0;
    border: none;
}

.vr {
    background: url(../img/vr.png) repeat-y right;
}

.social {
    margin: 0 auto;
    width: 222px;
}

.twitter-share-button,
.fb-like {
    float: left;
}

.teammug.small {
    width: 200px;
    height: 133px;
}


/* Navigation
========================================================================== */

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;

    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.75);
}

.navbar .navbar-inner {
    background: white;
    filter: none;
    height: 60px;
}

.navbar .brand {
    margin-top: 10px;
    padding-bottom: 8px;
    padding-left: 8px;
    max-height: 30px;
    width: auto;
    font-weight: 600;
    border-bottom: none;
}

.navbar .brand img {
    margin-top: -20px;
    position: relative;
    top: 7px;
}

.navbar .nav {
    margin-top: 10px;
}

.navbar .nav > li > a {
    color: #222;
    font-weight: 600;
    padding: 10px 10px 11px;
    text-shadow: none;
}

.navbar .nav > li > a,
.navbar .nav > li > a:hover {
    border-bottom: none;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover {
    background: none;
    color: #222;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom: none;
    box-shadow: none;
}

/* Header
========================================================================== */

.header {
    margin-top: 60px;
    background-image: url('/assets/img/hero.png');
    background-color: #000;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.75);
}

.header .container {
    padding: 60px 15px 20px 15px;
}

.header .container h1,
.header .container h2,
.header .container a.btn {
    display: inline;
    float: left;
}

.header .container a.btn {
    padding: 10px 20px 10px 20px;
    margin-left: 15px;
    margin-top: -8px;
    border-bottom: none;

    text-shadow: 0px -1px 0px #9f2b14;
    color: #ffffff;
    background-color: #BD4932;
    background-image: -moz-linear-gradient(top, #db6750, #9f2b14);
    background-image: -ms-linear-gradient(top, #db6750, #9f2b14);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#db6750), to(#9f2b14));
    background-image: -webkit-linear-gradient(top, #db6750, #9f2b14);
    background-image: -o-linear-gradient(top, #db6750, #9f2b14);
    background-image: linear-gradient(top, #db6750, #9f2b14);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db6750', endColorstr='#9f2b14', GradientType=0);
    border-color: #BD4932 #9f2b14 #9f2b14 #BD4932;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
.header .container a.btn:hover {
    color: #fffffa;
    text-shadow: 0px -1px 0px #810d00;
    background-color: #9f2b14;
}

.header .container a.btn.btn-door {
    text-shadow: 0px -1px 0px #04020a;
    color: #ffffff;
    background-color: #222028;
    background-image: -moz-linear-gradient(top, #403e46, #04020a);
    background-image: -ms-linear-gradient(top, #403e46, #04020a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#403e46), to(#04020a));
    background-image: -webkit-linear-gradient(top, #403e46, #04020a);
    background-image: -o-linear-gradient(top, #403e46, #04020a);
    background-image: linear-gradient(top, #403e46, #04020a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#403e46', endColorstr='#04020a', GradientType=0);
    border-color: #222028 #04020a #04020a #222028;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
.header .container a.btn.btn-door:hover {
    color: #fffffa;
    text-shadow: 0px -1px 0px #04020a;
    background-color: #04020a;
}

.header .container a.btn.btn-ended {
    text-shadow: 0px -1px 0px #0d304b;
    color: #ffffff;
    background-color: #2B4E69;
    background-image: -moz-linear-gradient(top, #496c87, #0d304b);
    background-image: -ms-linear-gradient(top, #496c87, #0d304b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#496c87), to(#0d304b));
    background-image: -webkit-linear-gradient(top, #496c87, #0d304b);
    background-image: -o-linear-gradient(top, #496c87, #0d304b);
    background-image: linear-gradient(top, #496c87, #0d304b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#496c87', endColorstr='#0d304b', GradientType=0);
    border-color: #2B4E69 #0d304b #0d304b #2B4E69;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
.header .container a.btn.btn-ended:hover {
    color: #ffffff;
    text-shadow: 0px 1px 0px #0d304b;
    background-color: #0d304b;
}


.header .container p {
    display: inline;
    float: left;
    color: white;
    float: right;
}

.header p a,
.header p a:hover {
    color: white;
    border-bottom-color: white;
}

.header .container h1,
.header .container h2 {
    line-height: 100%;
    padding: 5px 10px 10px 5px;
    font-size: 40px;
    color: #fff;
    clear: both;
}

.header .container h2 {
    margin-top: -5px;
    margin-left: 15px;
    font-size: 20px;
    padding: 10px 10px 10px 20px;
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 40px;
}

.header .container h2::before {
    content: "» ";
}


/* Main Page
========================================================================== */

/* Main Section */

.homeboxes .box {
    text-align: center;
}

.homeboxes .box * {
    text-align: left;
}

.homeboxes .box h1 {
    text-align: center;
    font-size: 30px;
}

.homeboxes .box h2 {
    text-align: center;
    font-size: 20px;
}

.homeboxes img {
    margin-bottom: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* People, Sponsors, Presented */

.people,
.sponsors,
.presented {
    margin-left: 0px;
}

.people h1,
.sponsors h1,
.presented h1 {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5), 0 2px 0 #fff;
}

.row.nopad.people .span6 {
    margin-left: 40px;
}

.row.nopad.people .span6.vr {
    width: 440px;
    margin-left: 0;
}

.sponsors,
.presented {
    text-align: center;
}

.sponsors h1 {
    text-align: left;
}

.sponsors ul li {
    list-style: none;
    display: inline-block;
    margin: 15px 15px;
    max-width: 250px;
}

.presented a,
.sponsors a {
    border-bottom: none;
}


/* Footer
========================================================================== */

footer {
    color: #BBB;
    margin-top: 25px;
    padding-top: 10px;
    background: #555;
}

footer p,
footer p a,
footer p a:hover {
    color: #BBB;
    padding-bottom: 0;
    font-size: 12px;
}


/** * * * * * * * * * * * * *
* * Start vu's awesome styles
* * * * * ** * * * ** * * */

.userlisting {
    width: 200px;
    float:left;
    margin-right: 10px;
}

.userlisting img,
.usermug {
    width: 180px !important;
    height: 180px !important;
}

.thumbnail img {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    width: 200px;
    height: 142px;
}

.user_info {
    margin-bottom: 10px;
    background: #EEE;
    width: 172px;
    padding: 5px 0px 5px 8px;
}

.first_name {
    font-weight:bold;
    font-size: 16px;
    display:block;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}

.work {
    font-size: 13px;
    display:block;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}

.teamlist li {
    list-style: none;
    margin: 2px;
}

.teamlist .thumbnail {
    text-align: center;
    height: 350px;
}

.teamlist h2 {
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 2px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 16px;
}

.box.cover {
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    height: 500px;
}
