{% extends "template.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span12 box" style="width: 900px">
            <h2 class="page-header">FAQ</h2>
            {% if not event.has_ended %}
                <p><em>If you have any additional questions, please post on our <a href="http://facebook.com/studentrnd">Facebook Page</a></em></p>

                <h3>What should I bring?</h3>
                <p>Bring anything that you think will make yourself productive. You'll probably need a laptop. Anything beyond that is up to you!</p>

                <h3>Will there be food?</h3>
                <p>Yep!</p>

                <h3>Can I go even if I don't know anything?</h3>
                <p>Of course! Part of the fun of a hackathon is figurning out things as you go along. We'll also have some great
                    <a href="./schedule.html">workshops</a> that you can attend. Or just hang out and have fun!</p>

                <h3>Do I need a group to attend?</h3>
                <p>We'll be forming teams at the event, so you don't need to know anyone beforehand. Just show up! </p>

                <h3>Is it possible to make an app or game in such a short time?</h3>
                <p>
                    Yes! We're constantly amazed by the results of CodeDay events! Check out
                    <a href="http://www.youtube.com/watch?v=-uFSdUq1Gac">S.S. Halfling</a>, and
                    <a href="http://www.youtube.com/watch?v=7G2RpJQ8yko">Running Blind</a>, both games led by students at
                    Redmond HS in Washington.</p>

                <h3>Are there any more official rules?</h3>
                <p>Check out <a href="./rules.html">The Official Rules</a>.</p>

                <h3>How big are the teams?</h3>
                <p>We suggest 3-6 people per team. 8 is the absolute max. </p>

                <h3>How can I contact you?</h3>
                <p class="eml">Just email <a href="mailto:contact@studentrnd.org">contact@studentrnd.org</a></p>
                {% for q in event.faqs %}
                    <h3>{{ q.title }}</h3>
                    <p>{{ q.html|raw }}</p>
                {% endfor %}
            {% else %}
                <h3>How do I register?</h3>
                <p>Sorry, this event is over!</p>

                <h3>When will there be another CodeDay {{ event.name }}?</h3>
                <p>Check the <a href="http://codeday.org/?city={{ event.name|lower }}">More CodeDays page</a>
                    to see if we have anything else scheduled! If not, we're probably planning something. Contact us
                    at <a href="mailto:contact@studentrnd.org">contact@studentrnd.org</a> if you're interested in
                    getting involved.</p>

                <h3>I was at the event, how can I edit my team page?</h3>
                <p>You can edit your team page for up to 2 weeks following the event as normal. If you need to make
                    edits after this point, you'll need to contact the organizers.</p>
                <p>There is no time limit for edits to your personal profile, however after two weeks the "login"
                    link is moved to the bottom-right of the page.</p>

                <h3>Help! I can't log in!</h3>
                <p>If you never set a password during the event, you won't be able to access your account now. You can
                    reset your password, and an email will be sent to the address you registered with. If you can't
                    access that account, you'll need to contact the organizers.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
