{% extends "template.html.twig" %}

{% block content %}
    <div class="row">
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        <div class="span12 box">
            <h1>Login</h1>
            <p>IF YOU HAVEN'T LOGGED IN BEFORE, YOU DO NOT NEED TO ENTER A PASSWORD.</p>
            <form method="post">
                <input type="text" name="first_name" placeholder="First Name" /><br />
                <input type="text" name="last_name" placeholder="Last Name" /><br />
                <input type="password" name="password" placeholder="Password" /><br />
                <input type="submit" value="Log me in!" />
            </form>
        </div>
    </div>
{% endblock %}
