{% extends "template.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span12 box">
            <h1>Videos</h1>
            {% for video in event.videos %}

            {% endfor %}
        </div>
    </div>
{% endblock %}
